body{
    margin: 0;
    padding: 0;
}
.parant{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: right;
}

.para-font{
    font-size: 125%;
    text-align: auto;
}

.left-side{
    width: 65%;
}
.details-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    font-size: 18px;
    font-weight: 500;
}
.details-btn:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}

.photo img{
width: 700px;

}
#name-color{
color: rgb(230, 37, 3);
}