body{
    margin: 0;
}

h1{

    font-size: 40px;
    border-left-color: red;
}

#color-tomato{
    color: tomato;
}
.name-size{
    font-size: 35px;
    font-family:arialbold;

}
section{
    display: flex
    
}
.half-width{
    width: 60%;
    padding: 3%;
    align-content: center;
}
.half-width img{
    width: 300%;
}
.link-button{
    text-decoration: none;
    background-color:tomato;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    font-style:normal;
    color: white;
}

#h1-border{
    border-left-width: 5px;
    border-color: green;
}